In [1]:
import os, sys 
%pwd

'd:\\The Machine Learning Company\\Machine Learning\\income-inequality-classification\\notebook'

In [2]:
os.chdir("../")
%pwd

'd:\\The Machine Learning Company\\Machine Learning\\income-inequality-classification'

In [3]:
import pandas as pd

In [11]:
df = pd.read_csv("artifacts/data_ingestion/income_inequality_prediction.csv")

df.shape

(209499, 43)

In [12]:
selected_columns = ["tax_status", "citizenship", "gender", "employment_stat", "industry_code", "wage_per_hour", "mig_year", "age", "country_of_birth_father", "stocks_status", "income_above_limit"]

In [13]:
df = df[selected_columns]

In [14]:
df.shape

(209499, 11)

In [15]:
df.head(2)

,tax_status,citizenship,gender,employment_stat,industry_code,wage_per_hour,mig_year,age,country_of_birth_father,stocks_status,income_above_limit
0,Head of household,Native,Female,0,0,0,95,79,US,292,Below limit
1,Single,Native,Female,0,0,0,94,65,US,0,Below limit

In [29]:
min(df["age"])

0

In [30]:
max(df["age"])

90

In [16]:
df["tax_status"].value_counts()

 Nonfiler                        78671
 Joint both under 65             70617
 Single                          39429
 Joint both 65+                   8791
 Head of household                7882
 Joint one under 65 & one 65+     4109
Name: tax_status, dtype: int64

In [17]:
df["citizenship"].value_counts()

Native                                          185669
 Foreign born- Not a citizen of U S              14127
 Foreign born- U S citizen by naturalization      6208
 Native- Born abroad of American Parent(s)        1924
 Native- Born in Puerto Rico or U S Outlying      1571
Name: citizenship, dtype: int64

In [18]:
df["gender"].value_counts()

 Female    108784
 Male      100715
Name: gender, dtype: int64

In [19]:
df["employment_stat"].value_counts()

0    189556
2     17088
1      2855
Name: employment_stat, dtype: int64

In [20]:
df["industry_code"].value_counts()

0     105694
33     18040
43      8739
4       6414
42      4934
45      4627
29      4419
37      4285
41      4088
32      3846
35      3474
39      3056
34      2862
44      2677
2       2298
11      1823
40      1779
50      1769
38      1736
47      1701
24      1580
19      1439
12      1399
30      1260
31      1238
25      1104
36      1028
9       1024
22       995
13       966
1        859
48       646
3        639
27       621
21       603
49       590
5        583
23       567
8        560
6        552
16       542
18       485
15       469
7        464
14       295
46       201
17       170
28       153
26       138
20        32
51        32
10         4
Name: industry_code, dtype: int64

In [21]:
min(df["industry_code"])

0

In [22]:
max(df["industry_code"])

51

In [24]:
df.columns

Index(['tax_status', 'citizenship', 'gender', 'employment_stat',
       'industry_code', 'wage_per_hour', 'mig_year', 'age',
       'country_of_birth_father', 'stocks_status', 'income_above_limit'],
      dtype='object')

In [25]:
df["wage_per_hour"].value_counts()

0       197643
500        777
600        585
700        572
800        512
         ...
2226         1
3190         1
5250         1
3500         1
557          1
Name: wage_per_hour, Length: 1232, dtype: int64

In [31]:
min(df["wage_per_hour"])

0

In [32]:
max(df["wage_per_hour"])

9999

In [26]:
df["mig_year"].value_counts()

94    104803
95    104696
Name: mig_year, dtype: int64

In [27]:
df["country_of_birth_father"].value_counts()

US                               166968
 Mexico                           10517
 ?                                 7181
 Puerto-Rico                       2769
 Italy                             2358
 Dominican-Republic                1397
 Canada                            1396
 Germany                           1386
 Poland                            1262
 Philippines                       1215
 Cuba                              1208
 El-Salvador                       1058
 China                              878
 England                            829
 India                              645
 Columbia                           637
 Ireland                            558
 South Korea                        552
 Jamaica                            493
 Guatemala                          483
 Vietnam                            450
 Japan                              418
 Ecuador                            393
 Greece                             392
 Portugal                           389
 Haiti                              357
 Peru                               349
 Nicaragua                          343
 Hungary                            333
 Scotland                           249
 Iran                               230
 Yugoslavia                         222
 Honduras                           217
 Cambodia                           213
 Taiwan                             191
 France                             188
 Outlying-U S (Guam USVI etc)       166
 Laos                               165
 Trinadad&Tobago                    132
 Thailand                           116
 Hong Kong                          115
 Holand-Netherlands                  52
 Panama                              29
Name: country_of_birth_father, dtype: int64

In [28]:
df["stocks_status"].value_counts()

0       187467
100       1202
500       1061
200        969
1000       948
         ...
1085         1
3396         1
358          1
627          1
3508         1
Name: stocks_status, Length: 1499, dtype: int64

In [33]:
min(df["stocks_status"])

0

In [34]:
max(df["stocks_status"])

99999

In [35]:
df.columns

Index(['tax_status', 'citizenship', 'gender', 'employment_stat',
       'industry_code', 'wage_per_hour', 'mig_year', 'age',
       'country_of_birth_father', 'stocks_status', 'income_above_limit'],
      dtype='object')